@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?xyz');
  src:  url('icomoon.eot?xyz#iefix') format('embedded-opentype'),
        url('icomoon.ttf?xyz') format('truetype'),
        url('icomoon.woff?xyz') format('woff'),
        url('icomoon.svg?xyz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ram:before {
  content: "\e900";
}
.icon-fast-runner:before {
  content: "\e902";
}
.icon-runner:before {
  content: "\e901";
}
